# This file contains common pin mappings for the Two Trees Sapphire
# Pro (SP-3) printer (Robin Nano 1.2, 2208 drivers for X,Y and A4988 for Z,E).

# INSTRUCTIONS FOR COMPILING
# To use this config, the firmware should be compiled for the STM32F103.
# When running "make menuconfig", enable "extra low-level configuration setup",
# select the 28KiB bootloader, serial (on USART3 PB11/PB10) to use USB communication
# or serial (on USART1 PA10/PA9) to use direct UART connection with Raspberry trough wifi pins.
# Set "GPIO pins to set at micro-controller startup" to "!PC6,!PD13" to turn off display at startup.

# INSTRUCTIONS FOR FLASHING, THE SCRIPT IS COMPULSORY OR IT WON'T WORK!!!
# Note that the "make flash" command does not work with the Robin Nano!
# After running "make", run the following command in one row FROM THE KLIPPER FOLDER:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin (if you can't find the file the script was not executed)
# to an SD card and then restart the printer with that SD card.
# If you removed the LCD screen rename the file to "Robin_nano43.bin" for correct flashing.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 250       # 20
max_accel:  2500        # 4500         # 1500
max_z_velocity: 10      # 4
max_z_accel: 80         # 80

[safe_z_home]
#home_xy_position: 210, 210
home_xy_position: 110, 105
speed: 50
z_hop: 10
z_hop_speed: 2

[bed_screws]
screw1: 11,0
screw2: 218,0
screw3: 218,207
screw4: 11,207

[screws_tilt_adjust]
screw1: 11, 210
screw1_name: rear left screw
screw2: 218, 210
screw2_name: rear right screw
screw3: 218, 43
screw3_name: front right screw
screw4: 11, 43
screw4_name: front left screw

horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

[static_digital_output reset_display]
pins: !PC6, !PD13

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[include config_backup.cfg]
[include drivers.cfg]
[include steppers.cfg]
[include heaters.cfg]
[include fans.cfg]
[include thermistors.cfg]
#[include probe_pn08.cfg]
#[include probe_bltouch.cfg]
[include probe_biqu.cfg]
[include mainsail.cfg]
[include macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.147219, 0.093781, 0.068781, 0.065344, 0.062531, 0.073469, 0.150969
#*# 	0.118469, 0.072844, 0.042219, 0.039094, 0.034719, 0.040969, 0.117531
#*# 	0.094719, 0.029719, 0.015969, 0.018781, 0.014094, 0.022219, 0.082531
#*# 	0.068469, 0.027219, 0.010344, 0.001594, -0.008406, -0.001531, 0.052844
#*# 	0.082219, 0.036594, 0.019094, -0.002781, -0.012156, -0.004031, 0.045344
#*# 	0.105969, 0.059719, 0.042219, 0.019719, 0.006281, 0.020344, 0.066594
#*# 	0.163469, 0.098469, 0.070969, 0.055344, 0.042844, 0.059406, 0.102219
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 209.98
#*# min_y = 0.0
#*# max_y = 150.0
